.addButton {
    background-color: rgba(107, 107, 107, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        height: 45px;
        width: 45px;
    }
}